@media screen and (max-width: 1199px) {
	.container {
		max-width: 992px;
	}
	.top-contacts {
		&__top {
			margin-bottom: 10px;
		}
	}
	.main-title {
		&__title {
			font-size: 35px;
			span {
				font-size: 95px;
			}
		}
	}
	.feedback {
		padding: 30px;
		&__title {
			font-size: 16px;
			span {
				font-size: 30px;
			}
		}
		&__lb-input {
			span {
				font-size: 16px;
				&.active {
					font-size: 14px;
				}
			}
			input {
				font-size: 20px;
				&:focus {
					& ~ span {
						font-size: 14px;
					}
				}
			}
		}
	}
	.switch {
		&__wrap-labels {
			padding-left: 60px;
		}
	}
	.lecture {
		&__col {
			padding: 30px;
		}
	}
	.hobbies {
		&__title {
			font-size: 38px;
		}
		&__content {
			padding: 60px 20px;
		}
	}
	.hobby {
		&__text {
			line-height: 1;
			font-size: 20px;
		}
	}
	.intense-date {
		&__date {
			.title-date__time {
				font-size: 28px;
			}
		}
	}
	.intense {
		&__more {
			padding: 15px 40px;
		}
	}
	#youtube iframe {
		height: 400px;
	}
	#map {
		height: 400px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		max-width: 768px;
	}
	.logo {
		margin-left: 0;
	}
	.main-titles {
		&__date {
			margin-left: 0;
		}
	}
	.main-title {
		&__title {
			font-size: 26px;
			span {
				font-size: 68px;
			    line-height: 1;
			}
		}
		&__play {
			margin-left: 34px;
		}
	}
	.top-contacts {
		max-width: 280px;
		font-size: 16px;
		&__top {
			a {
				margin-left: 0;
			}
		}
	}
	.sign-up {
		padding-top: 130px;
		&__form {
			display: none;
		}
		&__btn-form {
			display: block;
		}
	}
	.lecture {
		&__col {
			min-height: 200px;
			padding: 15px;
		}
		&__title {
			font-size: 38px;
		}
		&__step {
			font-size: 38px;
		}
		&__text {
			font-size: 16px;
		}
		&__sing-up {
			display: block;
			a {
				margin-right: 0;
				margin-bottom: 10px;
			}
			span {
				display: block;
			}
		}
	}
	.hobby {
		&__circle {
			width: 85px;
			min-width: 85px;
			height: 85px;
			border: 2px solid #FFF;
			margin-right: 20px;
			i {
				transform: scale(.7);
			}
		}
	}
	.intense-date {
		flex-wrap: wrap;
		margin-bottom: 0;
		&__date {
			margin-bottom: 20px;
		}
	}
	.intense {
		&__content {
			font-size: 16px;
			h2 {
				font-size: 38px;
			}
			h3 {
				font-size: 20px;
			}
		}
		&__bottom {
			flex-wrap: wrap;
		}
		&__more {
			margin-bottom: 20px;
		}
		&__description {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 576px;
	}
	.top {
		padding-bottom: 80px;
		background-position: 39% center;
		&__wrap-top {
			display: block;
			margin-bottom: 20px;
		}
		&__wrap-bottom {
			display: block;
		}
	}
	.logo {
		margin-bottom: 20px;
	}
	.top-contacts {
		max-width: 230px;
	}
	.title-date {
		font-size: 16px;
	}
	.main-titles {
		&__date {
			margin-bottom: 20px;
		}
	}
	.main-title {
		margin-bottom: 40px;
		&__play {
			margin-left: 64px;
			width: 80px;
			height: 80px;
			i {
			    transform: scale(.7);
			}
		}
	}
	.sign-up {
		padding-top: 0;
		max-width: 260px;
	}
	.lecture {
		&__col {
			min-height: 150px;
			padding: 10px;
		}
		&__text {
			font-size: 14px;
		}
		&__sing-up {
			a {
				font-size: 14px;
			}
			span {
				font-size: 16px;
			}
		}
	}
	.hobbies {
		&__image {
			display: none;
		}
		&__content {
			width: 100%;
			padding: 60px 40px;
		}
	}
	.intense {
		&__masters {
			padding-right: 10px;
			min-width: 180px;
			width: 180px;
		}
		&__content {
			padding: 40px 0px 30px 20px;
			h2 {
				font-size: 32px;
			}
			h3 {
				font-size: 18px;
			}
		}
	}
	#youtube iframe {
		height: 300px;
	}
	#map {
		height: 300px;
	}
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 100%;
	}
	.footer {
		font-size: 14px;
		padding: 20px 0;	
		&__wrap {
			display: block;
		}
	}
	.copy {
		margin-bottom: 10px;
	}
	.logo {
		max-width: 220px;
		width: 220px;
		&__text {
			font-size: 10px;
		}
	}
	.main-title {
		max-width: 300px;
		&__title {
			font-size: 18px;
			span {
				font-size: 52px;
			}
		}
	}
	.lecture {
		&__row {
			display: block;
			& > div {
				border-left: 1px solid #d2cad5;
			}
		}
		&__col {
			padding: 20px;
			min-height: auto;
			&-1 {
				width: 100%;
			}
			&-2 {
				width: 100%;
			}
			&-empty {
				display: none;
			}
		}
		&__step {
			margin-bottom: 0;
			margin-right: 20px;
		}
		&__text {
			p {
				margin-bottom: 0;
			}
		}
		&__item {
			display: flex;
			align-items: center;
		}
	}
	.hobbies {
		&__content {
			padding: 40px 20px;
		}
		&__title {
			font-size: 28px;
		}
	}
	.hobby {
		&__text {
			font-size: 16px;
		}
	}
	.intense {
		background-color: #f3ebf5;
		&__masters {
			display: none;
		}
		&__content {

		}
	}
	#youtube {
		padding: 5px;
		iframe {
			height: 250px;
		}
	}
}

@media screen and (max-width: 320px) {
	
}
