@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
}

body {
  font-family: "ProximaNova", sans-serif;
  position: relative;
  line-height: 1.4;
  font-size: 16px;
  color: #542749;
  overflow-x: hidden;
}

a {
  transition: all .3s;
}

input,
textarea,
button {
  outline: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.feedback-modal {
  padding: 0;
  background-color: #444;
}

.feedback-modal form {
  margin: 0;
}

.feedback-modal .fancybox-close-small {
  color: #d2cccc;
}

#youtube {
  background-color: #000;
  padding: 35px;
}

#youtube iframe {
  max-width: 100%;
}

#youtube .fancybox-close-small {
  color: #d2cccc;
}

#map-modal {
  padding: 30px;
}

#map {
  width: 1000px;
  max-width: 100%;
  height: 500px;
}

.footer {
  background-color: #542749;
  color: #FFF;
  font-size: 16px;
  padding: 30px 0;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  margin: 0;
}

.politics {
  color: #FFF;
  border-bottom: 1px solid #8a6b82;
  position: relative;
}

.politics:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #694260;
}

.politics:hover, .politics:focus {
  text-decoration: none;
  color: #cccccc;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 180px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.top {
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: url(../images/bg/itm-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top__wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  position: relative;
  max-width: 260px;
  width: 260px;
  margin-left: 64px;
}

.logo__text {
  position: absolute;
  top: 1px;
  left: 100%;
  font-size: 12px;
  line-height: 1;
  margin-left: -45px;
  color: #66b045;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
}

.icon {
  background-image: url(../images/icons/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-check {
  width: 31px;
  height: 23px;
  background-position: -2px -2px;
}

.icon-envelope {
  width: 12px;
  height: 11px;
  background-position: -37px -2px;
}

.icon-fb {
  width: 30px;
  height: 30px;
  background-position: -53px -2px;
}

.icon-gmail {
  width: 30px;
  height: 30px;
  background-position: -87px -2px;
}

.icon-metro {
  width: 16px;
  height: 11px;
  background-position: -121px -2px;
}

.icon-odk {
  width: 30px;
  height: 30px;
  background-position: -141px -2px;
}

.icon-phone {
  width: 15px;
  height: 15px;
  background-position: -175px -2px;
}

.icon-play {
  width: 46px;
  height: 56px;
  background-position: -194px -2px;
}

.icon-tw {
  width: 30px;
  height: 30px;
  background-position: -244px -2px;
}

.icon-univ {
  width: 34px;
  height: 23px;
  background-position: -278px -2px;
}

.icon-vk {
  width: 30px;
  height: 30px;
  background-position: -316px -2px;
}

.top-contacts {
  font-size: 18px;
}

.top-contacts a {
  color: #66b045;
}

.top-contacts__top {
  margin-bottom: 25px;
}

.top-contacts__top a {
  margin-left: 30px;
  position: relative;
  padding-left: 20px;
  border-bottom: 1px solid transparent;
}

.top-contacts__top a:first-child {
  margin-left: 0;
}

.top-contacts__top a:hover, .top-contacts__top a:focus {
  color: #518b37;
  text-decoration: none;
  border-bottom-color: #518b37;
}

.top-contacts__top a .icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top-contacts__map {
  font-size: 16px;
  padding-left: 20px;
  margin: 0;
}

.top-contacts__map a {
  border-bottom: 1px solid transparent;
  display: inline-block;
}

.top-contacts__map a span {
  position: relative;
  color: #684360;
  font-weight: bold;
  font-size: 18px;
}

.top-contacts__map a:hover, .top-contacts__map a:focus {
  text-decoration: none;
  color: #518b37;
  border-bottom-color: #518b37;
}

.top-contacts__map a .icon {
  position: absolute;
  bottom: 4px;
  left: -20px;
}

.top__wrap-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-titles__date {
  margin-left: 64px;
  margin-bottom: 30px;
}

.title-date {
  color: #66b045;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.title-date__top {
  display: flex;
}

.title-date__day {
  font-size: 83px;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 63px;
  margin-right: 10px;
}

.title-date__month {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.title-date__time {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.main-title {
  max-width: 470px;
}

.main-title__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.main-title__title span {
  font-size: 109px;
  display: block;
  font-weight: 800;
  line-height: 98px;
}

.main-title__play {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #542749;
  display: block;
  margin-left: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title__play:hover, .main-title__play:focus {
  background-color: #431f3a;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.main-title__play:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.main-title__play i {
  margin-left: 10px;
}

.sign-up {
  max-width: 430px;
}

.sign-up__form {
  margin-bottom: 5px;
}

.sign-up__btn-form {
  display: none;
  max-width: 100%;
  background-color: #542749;
  color: #FFF;
  padding: 10px 25px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.sign-up__btn-form span {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  display: block;
  font-size: 25px;
}

.sign-up__btn-form:hover, .sign-up__btn-form:focus {
  text-decoration: none;
  background-color: #431f3a;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  color: #FFF;
}

.sign-up__btn-form:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.feedback {
  background-color: rgba(44, 76, 101, 0.4);
  padding: 40px 60px;
  color: #FFF;
  text-transform: uppercase;
  box-sizing: border-box;
}

.feedback__title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 20px;
}

.feedback__title span {
  display: block;
  font-size: 41px;
  text-transform: uppercase;
  line-height: 35px;
}

.feedback__lb-input {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;
}

.feedback__lb-input span {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
  color: #93abba;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  cursor: text;
  transition: all .5s;
}

.feedback__lb-input span.active {
  line-height: 25px;
  font-size: 16px;
}

.feedback__lb-input input {
  width: 100%;
  padding: 20px 20px 6px 20px;
  border: none;
  font-size: 24px;
  transition: all .3s;
}

.feedback__lb-input input:focus {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.feedback__lb-input input:focus ~ span {
  line-height: 25px;
  font-size: 16px;
}

.feedback__lb-input input:hover {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.feedback__switch {
  margin-bottom: 30px;
}

.feedback__checkbox {
  margin-bottom: 25px;
}

.feedback__submit {
  border: none;
  background-color: #542749;
  line-height: 60px;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all .3s;
}

.feedback__submit:hover, .feedback__submit:focus {
  background-color: #431f3a;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.feedback__submit:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.feedback__text {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.switch input {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.switch__wrap {
  position: relative;
}

.switch__wrap-labels {
  border: 1px solid #FFF;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 0 30px 0 70px;
  overflow: hidden;
}

.switch__line {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  width: 50%;
  background-color: #FFF;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.switch__line i {
  margin-left: 13px;
}

.switch__line.active {
  z-index: 2;
}

.switch label {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  font-size: 12px;
  z-index: 1;
  position: relative;
}

.switch label.active {
  color: #839fb1;
}

.checkbox {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.checkbox input {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox input:checked ~ label span i.icon {
  opacity: 1;
}

.checkbox label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox label p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.checkbox label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 2px solid #9ba8b3;
  outline: 1px solid #FFF;
  margin-right: 10px;
  position: relative;
}

.checkbox label span i.icon {
  position: absolute;
  bottom: 6px;
  left: 1px;
  transition: all .5s;
  opacity: 0;
}

.checkbox label:hover span i.icon {
  display: block;
  opacity: .4;
}

.checkbox label:active span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.social {
  text-align: center;
}

.social__title {
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-size: 12px;
}

.social__wrap a {
  margin-right: 5px;
  display: inline-block;
}

.social__wrap a:last-child {
  margin-right: 0;
}

.social__wrap a:hover, .social__wrap a:focus {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.social__wrap a:active {
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

.lecture__row {
  display: flex;
}

.lecture__row > div {
  border-right: 1px solid #d2cad5;
  border-bottom: 1px solid #d2cad5;
}

.lecture__row > div:first-child {
  border-left: 1px solid #d2cad5;
}

.lecture__row-border-bottom-none > div {
  border-bottom: none;
}

.lecture__row-line-right {
  position: relative;
}

.lecture__row-line-right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 1px;
  background-color: #d2cad5;
  margin-left: -1px;
}

.lecture__row-line-left {
  position: relative;
}

.lecture__row-line-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1px;
  background-color: #d2cad5;
}

.lecture__col {
  min-height: 270px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.lecture__col-color-1 {
  background-color: #fbf9fc;
}

.lecture__col-color-2 {
  background-color: #faf7fb;
}

.lecture__col-color-3 {
  background-color: #f5f0f7;
}

.lecture__col-1 {
  width: 33.33%;
}

.lecture__col-2 {
  width: 66.66%;
}

.lecture__col-auto-height {
  min-height: auto !important;
}

.lecture__col-align-center {
  justify-content: center;
}

.lecture__title {
  font-size: 48px;
  line-height: 1;
}

.lecture__step {
  font-size: 48px;
  font-weight: bold;
  color: #66b045;
  line-height: 1;
  margin-bottom: 10px;
}

.lecture__text {
  font-size: 24px;
}

.lecture__sing-up {
  display: flex;
  align-items: center;
}

.lecture__sing-up a {
  display: inline-block;
  color: #FFF;
  background-color: #542749;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 19px 60px;
  line-height: 1;
  letter-spacing: .5px;
  margin-right: 30px;
}

.lecture__sing-up a:hover, .lecture__sing-up a:focus {
  text-decoration: none;
  background-color: #431f3a;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.lecture__sing-up a:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.lecture__sing-up span {
  color: #66b045;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
}

.hobbies {
  display: flex;
}

.hobbies__image {
  width: 50%;
  background-color: #aaa;
  background-image: url(../images/bg/itm-2.jpg);
  background-size: cover;
  background-position: center;
}

.hobbies__content {
  width: 50%;
  padding: 60px 50px;
  color: #FFF;
  background-image: url(../images/bg/itm-3.jpg);
  background-size: cover;
  background-position: center;
}

.hobbies__title {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

.hobbies .hobby:last-child {
  margin-bottom: 0;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.hobby {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hobby__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #FFF;
  min-width: 125px;
  width: 125px;
  height: 125px;
  margin-right: 40px;
}

.hobby__icon {
  background-image: url(../images/icons/lec.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.hobby__icon-1 {
  width: 72px;
  height: 72px;
  background-position: -2px -2px;
}

.hobby__icon-2 {
  width: 56px;
  height: 82px;
  background-position: -78px -2px;
}

.hobby__icon-3 {
  min-width: 93px;
  width: 93px;
  height: 69px;
  background-position: -138px -2px;
}

.hobby__text {
  font-size: 24px;
  max-width: 280px;
  margin: 0;
}

.intense {
  background-color: #dfdbe6;
  position: relative;
}

.intense:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 50%;
  background-color: #f3ebf5;
}

.intense > * {
  position: relative;
  z-index: 1;
}

.intense__wrap {
  display: flex;
}

.intense__masters {
  min-width: 260px;
  width: 260px;
  display: flex;
  align-items: flex-end;
}

.intense__masters img {
  position: relative;
}

.intense__content {
  background-color: #f3ebf5;
  padding: 50px 0px 30px 40px;
  font-size: 18px;
  width: 100%;
}

.intense__content h2 {
  font-size: 48px;
  line-height: 1;
}

.intense__content h3 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.intense__text {
  margin-bottom: 30px;
}

.intense__bottom {
  display: flex;
  align-items: center;
}

.intense__description {
  font-size: 16px;
  line-height: 1;
}

.intense__description a {
  color: inherit;
}

.intense__more {
  margin-right: 50px;
}

.intense-date {
  border-top: 1px solid #66b045;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.more {
  text-transform: uppercase;
  border: 1px solid #542749;
  text-align: center;
  display: inline-block;
  padding: 16px 60px;
  color: #542749;
  font-weight: bold;
}

.more:hover, .more:focus {
  text-decoration: none;
  color: #66b045;
}

.more:active {
  border-color: #66b045;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
  .top-contacts__top {
    margin-bottom: 10px;
  }
  .main-title__title {
    font-size: 35px;
  }
  .main-title__title span {
    font-size: 95px;
  }
  .feedback {
    padding: 30px;
  }
  .feedback__title {
    font-size: 16px;
  }
  .feedback__title span {
    font-size: 30px;
  }
  .feedback__lb-input span {
    font-size: 16px;
  }
  .feedback__lb-input span.active {
    font-size: 14px;
  }
  .feedback__lb-input input {
    font-size: 20px;
  }
  .feedback__lb-input input:focus ~ span {
    font-size: 14px;
  }
  .switch__wrap-labels {
    padding-left: 60px;
  }
  .lecture__col {
    padding: 30px;
  }
  .hobbies__title {
    font-size: 38px;
  }
  .hobbies__content {
    padding: 60px 20px;
  }
  .hobby__text {
    line-height: 1;
    font-size: 20px;
  }
  .intense-date__date .title-date__time {
    font-size: 28px;
  }
  .intense__more {
    padding: 15px 40px;
  }
  #youtube iframe {
    height: 400px;
  }
  #map {
    height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .logo {
    margin-left: 0;
  }
  .main-titles__date {
    margin-left: 0;
  }
  .main-title__title {
    font-size: 26px;
  }
  .main-title__title span {
    font-size: 68px;
    line-height: 1;
  }
  .main-title__play {
    margin-left: 34px;
  }
  .top-contacts {
    max-width: 280px;
    font-size: 16px;
  }
  .top-contacts__top a {
    margin-left: 0;
  }
  .sign-up {
    padding-top: 130px;
  }
  .sign-up__form {
    display: none;
  }
  .sign-up__btn-form {
    display: block;
  }
  .lecture__col {
    min-height: 200px;
    padding: 15px;
  }
  .lecture__title {
    font-size: 38px;
  }
  .lecture__step {
    font-size: 38px;
  }
  .lecture__text {
    font-size: 16px;
  }
  .lecture__sing-up {
    display: block;
  }
  .lecture__sing-up a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .lecture__sing-up span {
    display: block;
  }
  .hobby__circle {
    width: 85px;
    min-width: 85px;
    height: 85px;
    border: 2px solid #FFF;
    margin-right: 20px;
  }
  .hobby__circle i {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .intense-date {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .intense-date__date {
    margin-bottom: 20px;
  }
  .intense__content {
    font-size: 16px;
  }
  .intense__content h2 {
    font-size: 38px;
  }
  .intense__content h3 {
    font-size: 20px;
  }
  .intense__bottom {
    flex-wrap: wrap;
  }
  .intense__more {
    margin-bottom: 20px;
  }
  .intense__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .top {
    padding-bottom: 80px;
    background-position: 39% center;
  }
  .top__wrap-top {
    display: block;
    margin-bottom: 20px;
  }
  .top__wrap-bottom {
    display: block;
  }
  .logo {
    margin-bottom: 20px;
  }
  .top-contacts {
    max-width: 230px;
  }
  .title-date {
    font-size: 16px;
  }
  .main-titles__date {
    margin-bottom: 20px;
  }
  .main-title {
    margin-bottom: 40px;
  }
  .main-title__play {
    margin-left: 64px;
    width: 80px;
    height: 80px;
  }
  .main-title__play i {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .sign-up {
    padding-top: 0;
    max-width: 260px;
  }
  .lecture__col {
    min-height: 150px;
    padding: 10px;
  }
  .lecture__text {
    font-size: 14px;
  }
  .lecture__sing-up a {
    font-size: 14px;
  }
  .lecture__sing-up span {
    font-size: 16px;
  }
  .hobbies__image {
    display: none;
  }
  .hobbies__content {
    width: 100%;
    padding: 60px 40px;
  }
  .intense__masters {
    padding-right: 10px;
    min-width: 180px;
    width: 180px;
  }
  .intense__content {
    padding: 40px 0px 30px 20px;
  }
  .intense__content h2 {
    font-size: 32px;
  }
  .intense__content h3 {
    font-size: 18px;
  }
  #youtube iframe {
    height: 300px;
  }
  #map {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .footer {
    font-size: 14px;
    padding: 20px 0;
  }
  .footer__wrap {
    display: block;
  }
  .copy {
    margin-bottom: 10px;
  }
  .logo {
    max-width: 220px;
    width: 220px;
  }
  .logo__text {
    font-size: 10px;
  }
  .main-title {
    max-width: 300px;
  }
  .main-title__title {
    font-size: 18px;
  }
  .main-title__title span {
    font-size: 52px;
  }
  .lecture__row {
    display: block;
  }
  .lecture__row > div {
    border-left: 1px solid #d2cad5;
  }
  .lecture__col {
    padding: 20px;
    min-height: auto;
  }
  .lecture__col-1 {
    width: 100%;
  }
  .lecture__col-2 {
    width: 100%;
  }
  .lecture__col-empty {
    display: none;
  }
  .lecture__step {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .lecture__text p {
    margin-bottom: 0;
  }
  .lecture__item {
    display: flex;
    align-items: center;
  }
  .hobbies__content {
    padding: 40px 20px;
  }
  .hobbies__title {
    font-size: 28px;
  }
  .hobby__text {
    font-size: 16px;
  }
  .intense {
    background-color: #f3ebf5;
  }
  .intense__masters {
    display: none;
  }
  #youtube {
    padding: 5px;
  }
  #youtube iframe {
    height: 250px;
  }
}
