<!-- FOOTER -->
	<div class="content">
		<footer class="footer">
		
			<div class="container">

				<div class="footer__wrap">
					
					<p class="copy">
						© 2016 Synergy Lectorium
					</p>

					<a href="#" class="politics">Политика конфиденциальности</a>

				</div>

			</div>
			
		</footer>
	</div>

<!-- end FOOTER -->

<!-- Подключение javscript -->
	<script src="js/libs-.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="js/common.js"></script>
<!-- end -->

</body>
</html>