//= partials/site/_header.html

<!-- CONTENT -->
<div class="content">
	
	<section class="top">
		
		<div class="container">

			<div class="top__wrap-top">
			
				<div class="logo">
					<img src="images/logo.png" alt="">
					<span class="logo__text">Лекции и курсы <br>звездных спикеров</span>
				</div>

				<div class="top-contacts">
					<div class="top-contacts__top">
						<a href="tel:88001001746">
							<i class="icon icon-phone"></i>
							8-800-100-17-46
						</a>
						<a href="mailto:Lectorium@synergy.ru">
							<i class="icon icon-envelope"></i>
							Lectorium@synergy.ru
						</a>
					</div>
					<p class="top-contacts__map">
						<a href="#map-modal">
							<span><i class="icon icon-metro"></i>Семеновская</span><br> Москва, Измайловский Вал, дом 2, корпус 1
						</a>
					</p>
				</div>

			</div>

			<div class="top__wrap-bottom">
				
				<div class="main-titles">
					
					<div class="main-titles__date title-date">
						<div class="title-date__top">
							<p class="title-date__day">10</p>
							<div>
								<p class="title-date__month">Ноября</p>
								<p class="title-date__time">в 19:00</p>
							</div>
						</div>
						<div class="title-date__text">Бесплатная лекция <br>и онлайн-трансляция</div>
					</div>

					<div class="main-title">
						<h1 class="main-title__title"><span>Бхригу йога</span>Вдохновение<br /> на перемены</h1>
						<a href="#youtube" class="main-title__play"><i class="icon icon-play"></i></a>
					</div>

				</div>

				<div class="sign-up">

					<a href="#feedback" class="sign-up__btn-form"><span>Записаться </span>на практическую лекцию</a>
					
					<form class="sign-up__form feedback">
						<p class="feedback__title"><span>Записаться </span>на практическую лекцию</p>
						
						<label class="feedback__lb-input">
							<input type="text" name="first_name">
							<span>Введите ваше имя</span>
						</label>
						
						<label class="feedback__lb-input">
							<input type="text" name="phone">
							<span>Введите ваш телефон</span>
						</label>
						
						<label class="feedback__lb-input">
							<input type="text" name="email">
							<span>Введите ваш e-mail</span>
						</label>

						<div class="feedback__switch switch">
							<input type="radio" id="partic-live" name="participation" value="live">
							<input type="radio" id="partic-online" name="participation" value="online">
							<div class="switch__wrap">
								<span class="switch__line switch-line"><i class="icon icon-univ"></i></span>
								<div class="switch__wrap-labels">
									<label class="switch-label active" for="partic-live">Живое<br /> участие</label>
									<label class="switch-label" for="partic-online">Участие<br /> онлайн</label>
								</div>
							</div>
						</div>

						<div class="feedback__checkbox checkbox">
							<input type="checkbox" id="get-news" checked>
							<label for="get-news">
								<span><i class="icon icon-check"></i></span>
								<p>Согласен получать новости <br />о звездных лекциях и курсах</p>
							</label>
						</div>

						<button type="submit" class="feedback__submit">Отправить заявку</button>
						
						<p class="feedback__text">Количество мест ограничено: 200</p>
					</form>
					
					<div class="sign-up__social social">
						<p class="social__title">рекомендовать друзьям</p>
						<div class="social__wrap">
							<a href="#"><i class="icon icon-vk"></i></a>
							<a href="#"><i class="icon icon-fb"></i></a>
							<a href="#"><i class="icon icon-gmail"></i></a>
							<a href="#"><i class="icon icon-tw"></i></a>
							<a href="#"><i class="icon icon-odk"></i></a>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>

	<section class="lecture">
		<div class="container">
			
			<div class="lecture__row lecture__row-line-right">
				<div class="lecture__col lecture__col-2 lecture__col-align-center">
					
					<h2 class="lecture__title">Что вы узнаете <br>на лекции?</h2>

				</div>

				<div class="lecture__col lecture__col-empty lecture__col-1 lecture__col-color-1"></div>
			</div>

			<div class="lecture__row lecture__row-line-left">
				<div class="lecture__col lecture__col-1 lecture__col-color-1">
					
					<div class="lecture__item">
						<p class="lecture__step">01</p>
						<div class="lecture__text">
							<p>Что такое Бхригу йога, и как она поможет мне создать жизнь моей мечты?</p>
						</div>
					</div>

				</div>

				<div class="lecture__col lecture__col-1 lecture__col-color-3">
					
					<div class="lecture__item">
						<p class="lecture__step">02</p>
						<div class="lecture__text">
							<p>5 техник, вдохновляющие на на перемены, от вице-президента Федерации Йоги Индии</p>
						</div>
					</div>

				</div>

				<div class="lecture__col lecture__col-1">
					
					<div class="lecture__item">
						<p class="lecture__step">03</p>
						<div class="lecture__text">
							<p>Почему медитация — это путь к вдохновению, путешествие к новым горизонтам</p>
						</div>
					</div>

				</div>
			</div>

			<div class="lecture__row">
				<div class="lecture__col lecture__col-1">
					
					<div class="lecture__item">
						<p class="lecture__step">04</p>
						<div class="lecture__text">
							<p>Методы Бхригу йоги как особый инструмент внутренней работы над телом и умом</p>
						</div>
					</div>

				</div>

				<div class="lecture__col lecture__col-1 lecture__col-color-2">
					
					<div class="lecture__item">
						<p class="lecture__step">05</p>
						<div class="lecture__text">
							<p>Особые методы концентрации и релаксации</p>
						</div>
					</div>

				</div>

				<div class="lecture__col lecture__col-1 lecture__col-color-1">
					
					<div class="lecture__item">
						<p class="lecture__step">06</p>
						<div class="lecture__text">
							<p>Причины <br />потери<br /> вдохновения</p>
						</div>
					</div>

				</div>
			</div>

			<div class="lecture__row lecture__row-border-bottom-none">
				<div class="lecture__col lecture__col-2 lecture__col-auto-height">
					
					<div class="lecture__sing-up">
						<a href="#feedback">Принять участие</a>
						<span>Количество мест<br> ограничено: 200</span>	
					</div>
				
				</div>

				<div class="lecture__col lecture__col-empty lecture__col-1 lecture__col-auto-height"></div>
			</div>

		</div>
	</section>

	<section class="hobbies">
		<div class="hobbies__image"></div>
		<div class="hobbies__content">
			
			<h2 class="hobbies__title">Лекция для вас,<br /> если вы:</h2>

			<div class="hobbies__items">
				
				<div class="hobby">
					<span class="hobby__circle">
						<i class="hobby__icon hobby__icon-1"></i>
					</span>
					<p class="hobby__text">Увлекаетесь <br />йогой</p>
				</div>

				<div class="hobby">
					<span class="hobby__circle">
						<i class="hobby__icon hobby__icon-2"></i>
					</span>
					<p class="hobby__text">Интересуетесь культурно-философским наследием Индии</p>
				</div>

				<div class="hobby">
					<span class="hobby__circle">
						<i class="hobby__icon hobby__icon-3"></i>
					</span>
					<p class="hobby__text">Хотите узнать новые принципы работы с телом и умом</p>
				</div>

			</div>

		</div>
	</section>

	<section class="intense">
		<div class="container">

			<div class="intense__wrap">
			
				<div class="intense__masters">
					<img src="images/masters.png" alt="">
				</div>
				
				<div class="intense__content">
					
					<h2>Техдневный интенсив</h2>
					<h3>Лечение и профилактика психосоматических <br />и эндокринных заболеваний методами Бхригу йоги</h3>
					
					<div class="intense__text">
						<p>Вы познакомитесь с особенностями методов и  получите пошаговый алгоритм достижения физического и психического благополучия.</p>
					</div>
					
					<div class="intense__date intense-date">

						<div class="intense-date__date title-date">
							<div class="title-date__top">
								<p class="title-date__day">11</p>
								<div>
									<p class="title-date__month">Ноября</p>
									<p class="title-date__time">19:00-21:00</p>
								</div>
							</div>
						</div>

						<div class="intense-date__date title-date">
							<div class="title-date__top">
								<p class="title-date__day">12</p>
								<div>
									<p class="title-date__month">Ноября</p>
									<p class="title-date__time">11:00-17:30</p>
								</div>
							</div>
						</div>

						<div class="intense-date__date title-date">
							<div class="title-date__top">
								<p class="title-date__day">13</p>
								<div>
									<p class="title-date__month">Ноября</p>
									<p class="title-date__time">11:00-17:30</p>
								</div>
							</div>
						</div>

					</div>

					<div class="intense__bottom">
						
						<a href="#feedback" class="intense__more more">Узнать больше</a>

						<div class="intense__description">
							Вы можете приобрести билет на 1, 2 или 3 дня <br />
							Запись и дополнительная информация <br />
							по телефону <strong><a href="#">+7 999 768 36 38</a></strong>
						</div>

					</div>

				</div>

			</div>

		</div>
	</section>

</div>
<!-- end CONTENT -->

//= partials/site/_footer.html
