@import "partials/_settings";	// Переменные
@import "partials/_fonts"; // Шрифты

// Main
html, 
body {
	width: 100%;
}
body {
	font-family: $font-regular;
	position: relative;
	line-height: 1.4;
	font-size: 16px;
	color: $color;
	overflow-x: hidden;
}
a {
	transition: all .3s;
}
input,
textarea,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
img {
	max-width: 100%;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// header
.header {
	
}
.feedback-modal {
	padding: 0;
	background-color: #444;
	form {
		margin: 0;
	}
	.fancybox-close-small {
		color: #d2cccc;
	}
}
#youtube {
	background-color: #000;
	padding: 35px;
	iframe {
		max-width: 100%;
	}
	.fancybox-close-small {
		color: #d2cccc;
	}
}
#map-modal {
	padding: 30px;
}
#map {
	width: 1000px;
	max-width: 100%;
	height: 500px;
}
// footer
.footer {
	background-color: $color;
	color: #FFF;
	font-size: 16px;
	padding: 30px 0;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.copy {
	margin: 0;
}
.politics {
	color: #FFF;
	border-bottom: 1px solid #8a6b82;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 0;
		right: 0;
		background-color: #694260;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		color: darken(#FFF, 20%);
	}
}

// content
.content {
	max-width: 1920px;
	margin: 0 auto;
	box-shadow: 0 0 180px 10px rgba(0,0,0,.2);
	overflow-x: hidden;
}
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.top {
	padding-top: 30px;
	padding-bottom: 100px;
	background-image: url(../images/bg/itm-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	&__wrap-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__bottom {

	}
}

.logo {
	position: relative;
	max-width: 260px;
	width: 260px;
	margin-left: 64px;
	&__text {
		position: absolute;
		top: 1px;
		left: 100%;
		font-size: 12px;
		line-height: 1;
		margin-left: -45px;
		color: $color-one;
		font-weight: 600;
		width: 100%;
		text-transform: uppercase;
	}
}
.icon {
	background-image: url(../images/icons/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	&-check {
		width: 31px;
		height: 23px;
		background-position: -2px -2px;
	}
	&-envelope {
		width: 12px;
		height: 11px;
		background-position: -37px -2px;
	}
	&-fb {
		width: 30px;
		height: 30px;
		background-position: -53px -2px;
	}
	&-gmail {
		width: 30px;
		height: 30px;
		background-position: -87px -2px;
	}
	&-metro {
		width: 16px;
		height: 11px;
		background-position: -121px -2px;
	}
	&-odk {
		width: 30px;
		height: 30px;
		background-position: -141px -2px;
	}
	&-phone {
		width: 15px;
		height: 15px;
		background-position: -175px -2px;
	}
	&-play {
		width: 46px;
		height: 56px;
		background-position: -194px -2px;
	}
	&-tw {
		width: 30px;
		height: 30px;
		background-position: -244px -2px;
	}
	&-univ {
		width: 34px;
		height: 23px;
		background-position: -278px -2px;
	}
	&-vk {
		width: 30px;
		height: 30px;
		background-position: -316px -2px;
	}
}
.top-contacts {
	font-size: 18px;
	a {
		color: $color-one;
	}
	&__top {
		margin-bottom: 25px;
		a {
			margin-left: 30px;
			position: relative;
			padding-left: 20px;
			border-bottom: 1px solid transparent;
			&:first-child {
				margin-left: 0;
			}
			&:hover,
			&:focus {
				color: darken($color-one, 10%);
				text-decoration: none;
				border-bottom-color: darken($color-one, 10%);
			}
			.icon {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
			}
		}
	}
	&__map {
		font-size: 16px;
		padding-left: 20px;
		margin: 0;
		a {
			border-bottom: 1px solid transparent;
			display: inline-block;
			span {
				position: relative;
				color: #684360;
				font-weight: bold;
				font-size: 18px;
			}
			&:hover,
			&:focus {
				text-decoration: none;
				color: darken($color-one, 10%);
				border-bottom-color: darken($color-one, 10%);
			}
			.icon {
				position: absolute;
				bottom: 4px;
				left: -20px;
			}
		}
	}
}
.top__wrap-bottom {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.main-titles {
	&__date {
		margin-left: 64px;
		margin-bottom: 30px;
	}
}
.title-date {
	color: $color-one;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	&__top {
		display: flex;
	}
	&__day {
		font-size: 83px;
		font-weight: bold;
		letter-spacing: -5px;
		line-height: 63px;
		margin-right: 10px;
	}
	&__month {
		font-size: 26px;
		font-weight: bold;
		line-height: 1;
		margin: 0;
	}
	&__time {
		font-size: 30px;
		margin: 0;
		font-weight: normal;
	}
}
.main-title {
	max-width: 470px;
	&__title {
		font-weight: bold;
		font-size: 44px;
		line-height: 1;
		text-transform: uppercase;
		margin: 0 0 20px 0;
		span {
			font-size: 109px;
			display: block;
			font-weight: 800;
			line-height: 98px;
		}
	}
	&__play {
		border-radius: 50%;
		width: 120px;
		height: 120px;
		background-color: $color;
		display: block;
		margin-left: 64px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover,
		&:focus {
			background-color: darken($color, 5%);
			transform: translate(0, 1px);
		}
		&:active {
			transform: translate(0, 3px);
		}
		i {
			margin-left: 10px;
		}
	}
}
.sign-up {
	max-width: 430px;
	&__form {
		margin-bottom: 5px;
	}
	&__btn-form {
		display: none;
		max-width: 100%;
		background-color: $color;
		color: #FFF;
		padding: 10px 25px;
		font-size: 14px;
		text-align: center;
		margin-bottom: 10px;
		span {
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1;
			display: block;
			font-size: 25px;
		}
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: darken($color, 5%);
			transform: translate(0, 1px);
			color: #FFF;
		}
		&:active {
			transform: translate(0, 3px);
		}
	}
}
.feedback {
	background-color: rgba(44,76,101,.4);
	padding: 40px 60px;
	color: #FFF;
	text-transform: uppercase;
	box-sizing: border-box;
	&__title {
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		text-transform: none;
		margin-bottom: 20px;
		span {
			display: block;
			font-size: 41px;
			text-transform: uppercase;
			line-height: 35px;
		}
	}
	&__lb-input {
		position: relative;
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		overflow: hidden;
		span {
			position: absolute;
			top: 0;
			left: 20px;
			z-index: 1;
			color: #93abba;
			line-height: 60px;
			text-transform: none;
			font-size: 18px;
			cursor: text;
			transition: all .5s;
			&.active {
				line-height: 25px;
				font-size: 16px;
			}
		}
		input {
			width: 100%;
			padding: 20px 20px 6px 20px;
			border: none;
			font-size: 24px;
			transition: all .3s;
			&:focus {
				box-shadow: inset 0 0 10px 0 rgba(0,0,0,.3);
				& ~ span {
					line-height: 25px;
					font-size: 16px;
				}
			}
			&:hover {
				box-shadow: inset 0 0 10px 0 rgba(0,0,0,.3);
			}
		}
	}
	&__switch {
		margin-bottom: 30px;
	}
	&__checkbox {
		margin-bottom: 25px;
	}
	&__submit {
		border: none;
		background-color: $color;
		line-height: 60px;
		color: #FFF;
		width: 100%;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .5px;
		cursor: pointer;
		margin-bottom: 15px;
		transition: all .3s;
		&:hover,
		&:focus {
			background-color: darken($color, 5%);
			transform: translate(0, 1px);
		}
		&:active {
			transform: translate(0, 3px);
		}
	}
	&__text {
		margin: 0;
		font-size: 14px;
		text-align: center;
	}
}
.switch {
	input {
		visibility: hidden;
		position: absolute;
		width: 1px;
		height: 1px;
	}
	&__wrap {
		position: relative;
	}
	&__wrap-labels {
		border: 1px solid #FFF;
		position: relative;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 50px;
		padding: 0 30px 0 70px;
		overflow: hidden;
	}
	&__line {
		position: absolute;
		top: 3px;
		bottom: 3px;
		left: 3px;
		right: 3px;
		width: 50%;
		background-color: #FFF;
		border-radius: 50px;
		display: flex;
		align-items: center;
		i {
			margin-left: 13px;
		}
		&.active {
			z-index: 2;
		}
	}
	label {
		margin: 0;
		padding: 0;
		display: block;
		font-weight: 600;
		line-height: 1;
		cursor: pointer;
		font-size: 12px;
		z-index: 1;
		position: relative;
		&.active {
			color: #839fb1;
		}
	}
	&__live {

	}
}
.checkbox {
	font-size: 12px;
	line-height: 1;
	text-align: center;
	input {
		position: absolute;
		visibility: hidden;
		width: 0;
		height: 0;
		&:checked ~ label span i.icon {
			opacity: 1;
		}
	}
	label {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		p {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		span {
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #FFF;
			border: 2px solid #9ba8b3;
			outline: 1px solid #FFF;
			margin-right: 10px;
			position: relative;
			i.icon {
				position: absolute;
				bottom: 6px;
				left: 1px;
				transition: all .5s;
				opacity: 0;
			}
		}
		&:hover {
			span {
				i.icon {
					display: block;
					opacity: .4;
				}
			}
		}
		&:active {
			span {
				transform: scale(.9);
			}
		}
	}
}
.social {
	text-align: center;
	&__title {
		text-transform: uppercase;
		margin: 0 0 5px 0;
		font-size: 12px;
	}
	&__wrap {
		a {
			margin-right: 5px;
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
			&:hover,
			&:focus {
				transform: translate(0, -2px);
			}
			&:active {
				transform: translate(0, 2px);
			}
		}
	}
}
.lecture {
	&__row {
		display: flex;
		& > div {
			border-right: 1px solid #d2cad5;
			border-bottom: 1px solid #d2cad5;
			&:first-child {
				border-left: 1px solid #d2cad5;
			}
		}
		&-border-bottom-none {
			& > div {
				border-bottom: none;
			}
		}
		&-line-right {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 100%;
				width: 100%;
				height: 1px;
				background-color: #d2cad5;
				margin-left: -1px;
			}
		}
		&-line-left {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 100%;
				width: 100%;
				height: 1px;
				background-color: #d2cad5;
			}
		}
	}
	&__col {
		min-height: 270px;
		display: flex;
		flex-direction: column;
		padding: 50px;
		&-color-1 {
			background-color: #fbf9fc;
		}
		&-color-2 {
			background-color: #faf7fb;
		}
		&-color-3 {
			background-color: #f5f0f7;
		}
		&-1 {
			width: 33.33%;
		}
		&-2 {
			width: 66.66%;
		}
		&-auto-height {
			min-height: auto !important;
		}
		&-align-center {
			justify-content: center;
		}
	}
	&__title {
		font-size: 48px;
		line-height: 1;
	}
	&__item {

	}
	&__step {
		font-size: 48px;
		font-weight: bold;
		color: $color-one;
		line-height: 1;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 24px;
	}
	&__sing-up {
		display: flex;
		align-items: center;
		a {
			display: inline-block;
			color: #FFF;
			background-color: $color;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			padding: 19px 60px;
			line-height: 1;
			letter-spacing: .5px;
			margin-right: 30px;
			&:hover,
			&:focus {
				text-decoration: none;
				background-color: darken($color, 5%);
				transform: translate(0, 1px);
			}
			&:active {
				transform: translate(0, 3px);
			}
		}
		span {
			color: $color-one;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.2;
		}
	}
}
.hobbies {
	display: flex;
	&__image {
		width: 50%;
		background-color: #aaa;
		background-image: url(../images/bg/itm-2.jpg);
		background-size: cover;
		background-position: center;
	}
	&__content {
		width: 50%;
		padding: 60px 50px;
		color: #FFF;
		background-image: url(../images/bg/itm-3.jpg);
		background-size: cover;
		background-position: center;
	}
	&__title {
		font-size: 48px;
		line-height: 1;
		margin-bottom: 20px;
	}
	&__items {

	}
	.hobby:last-child {
		margin-bottom: 0;
	}
}
.sprite {
	background-image: url(spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}
.hobby {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 3px solid #FFF;
		min-width: 125px;
		width: 125px;
		height: 125px;
		margin-right: 40px;
	}
	&__icon {
		background-image: url(../images/icons/lec.png);
		background-repeat: no-repeat;
		display: inline-block;
		&-1 {
			width: 72px;
			height: 72px;
			background-position: -2px -2px;
		}
		&-2 {
			width: 56px;
			height: 82px;
			background-position: -78px -2px;
		}
		&-3 {
			min-width: 93px;
			width: 93px;
			height: 69px;
			background-position: -138px -2px;
		}
	}
	&__text {
		font-size: 24px;
		max-width: 280px;
		margin: 0;
	}
}
.intense {
	background-color: #dfdbe6;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 50%;
		background-color: #f3ebf5;
	}
	& > * {
		position: relative;
		z-index: 1;
	}
	&__wrap {
		display: flex;
	}
	&__masters {
		min-width: 260px;
		width: 260px;
		display: flex;
		align-items: flex-end;
		// overflow: hidden;
		img {
			position: relative;
			// bottom: -25px;
		}
	}
	&__content {
		background-color: #f3ebf5;
		padding: 50px 0px 30px 40px;
		font-size: 18px;
		width: 100%;
		h2 {
			font-size: 48px;
			line-height: 1;
		}
		h3 {
			font-size: 28px;
			line-height: 1.2;
			margin-bottom: 30px;
		}
	}
	&__text {
		margin-bottom: 30px;
	}
	&__bottom {
		display: flex;
		align-items: center;
	}
	&__description {
		font-size: 16px;
		line-height: 1;
		a {
			color: inherit;
		}
	}
	&__more {
		margin-right: 50px;
	}
}
.intense-date {
	border-top: 1px solid $color-one;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.more {
	text-transform: uppercase;
	border: 1px solid $color;
	text-align: center;
	display: inline-block;
	padding: 16px 60px;
	color: $color;
	font-weight: bold;
	&:hover,
	&:focus {
		text-decoration: none;
		// line-height: 62px;
		color: $color-one;
	}
	&:active {
		border-color: $color-one;
	}
}

@import "partials/_media"; //Всегда в конце
